@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.lobster-family {
  font-family: "Lobster";
}

.hero {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
}

.hero::before {
  background-image: url("./app/assets/mobile-order.jpg");
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.bgMuted {
  background: rgba(0, 0, 0, 0.5);
}

.logo-filter {
  filter: brightness(1);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.logo-filter:hover {
  filter: brightness(1.2);
}

.inp-div {
  position: relative;
}

.inp-form {
  display: block;
  width: 100%;
  padding: 15px 10px 0;
  border: none;
  font-size: 1rem;
}

.inp-form:focus {
  outline: 0;
}

.inp-label {
  position: absolute;
  pointer-events: none;
  top: 5px;
  left: 10px;
  font-size: 12px;
  opacity: 0;
  padding: 0 2px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.inp-form:valid + .inp-label {
  opacity: 1;
  top: -10px;
  color: #9e9e9e;
}

.inp-form:focus + .inp-label {
  color: #dd6515;
}

.underline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -5px;
  border: 1px solid #e5e5e5;
  z-index: -1;
  padding: 10px 10px 0;
}

.inp-form:focus + .inp-label + .underline {
  border-color: #dd6515;
}

.bg-waiting {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("./app/assets/Interwind-1s-200px.svg");
}

.imageProfile {
  width: 200px;
  height: 200px;
}

.imageCard {
  width: 80px;
  height: 80px;
}

.hoverTrash:hover {
  color: #ca5e16;
  transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.middleBtn {
  border: 2px solid #ca5e16;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: -1px;
  line-height: 50px;
  z-index: 1;
  background: white;
  color: #ca5e16;
  font-size: 1.2rem;
}

.outline {
  color: #ca5e16;
  border: 2px solid #ca5e16;
  transition: all 0.3s;
}

.outline:active {
  background-color: #ca5e16;
  color: #fff;
}

.btnOrder {
  background-color: #fff;
  display: inline-block;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  transform: skew(-15deg);
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.33;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

.leftSkew {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 50px;
  padding: 8px 35px 8px 30px;
  margin-right: -25px;
}

.rightSkew {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 50px;
  padding: 8px 30px 8px 35px;
  margin-left: -25px;
}

.margin-right-larger {
  margin-right: 120px !important;
}

.margin-left-larger {
  margin-left: 120px !important;
}

.button-xsmall {
  padding: 0 15px;
  line-height: 20px;
  font-size: 0.7rem;
}

/* UIkit override */
.uk-dropdown {
  background: rgba(0, 0, 0, 0.7);
}

.uk-icon-button {
  background: initial;
  width: 50px;
  height: 50px;
}

.uk-icon-button:hover {
  background: rgba(95, 143, 149, 0.5);
}

.uk-badge-success {
  box-sizing: border-box;
  min-width: 22px;
  height: 22px;
  padding: 0 5px;
  border-radius: 500px;
  vertical-align: middle;
  background: #32d296;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.uk-badge-warning {
  box-sizing: border-box;
  min-width: 22px;
  height: 22px;
  padding: 0 5px;
  border-radius: 500px;
  vertical-align: middle;
  background: #faa05a;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Media queries */
@media (max-width: 640px) {
  .margin-right-remove {
    margin-right: 0px !important;
  }
  .margin-left-remove {
    margin-left: 0px !important;
  }
}
