@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.lobster-family {
  font-family: "Lobster";
}

.bg-image1 {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("./app/assets/mobile-order.jpg");
}

.logo-filter {
  filter: brightness(1);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.logo-filter:hover {
  filter: brightness(1.2);
}